<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Dashboard <small>Summary of your Web</small>
    </h1>
  </div>
</div>
<!-- /. ROW  -->

<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary panel">
      <div class="panel-heading">
        Quotation status
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-flush">
          <div *ngIf="quotation.length > 0">
            <li class="list-group-item" *ngFor="let quote of quotation">
              <div class="row">
                <div class="col-md-7"><strong>{{quote.JobDescription}}</strong></div>
                <div class="col-md-5">
                  <span class="float-right">{{quote.Status == 0 ? 'Pending' : quote.Status == 1 ? 'Accepted' : 'Rejected'}}</span>
                </div>
              </div>
            </li>
          </div>
          <div *ngIf="quotation.length <= 0">
            <strong>No Quotations</strong>
          </div>
        </ul>
      </div>
    </div>
    <!-- <button [routerLink]="['/quotation']" type="button" class="btn btn-outline-info btn-info-link btn-lg">View activity logs</button> -->
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary panel">
      <div class="panel-heading">
        Recieved Work Orders
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-flush">
          <div *ngIf="workOrders.length > 0">
            <li class="list-group-item" *ngFor="let worder of workOrders">
              <div class="row">
                <div class="col-md-7"><strong>{{worder.Description}}</strong></div>
                <div class="col-md-5">
                  <span class="float-right">{{worder.DueDate | date: 'dd/MM/yyyy'}}</span>
                </div>
              </div>
            </li>
          </div>
          <div *ngIf="workOrders.length <= 0">
            <strong>No Work Orders</strong>
          </div>
        </ul>
      </div>
    </div>
    <!-- <button [routerLink]="['/workorder']" type="button" class="btn btn-outline-info btn-info-link btn-lg">View work orders</button> -->
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary panel">
      <div class="panel-heading">
      Payment status
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-flush">

          <div *ngIf="invoices.length > 0">
            <li class="list-group-item" *ngFor="let invoice of invoices">
              <div class="row">
                <div class="col-md-7"><strong>{{invoice.InvoiceSubject}}</strong></div>
                <div class="col-md-5">
                  <span class="float-right">{{invoice.InvoiceStatus == 0 ? 'Not Paid' : 'Paid'}}</span>
                </div>
              </div>
            </li>
          </div>

          <div *ngIf="invoices.length <= 0">
            <strong>No Invoices</strong>
          </div>
        </ul>
      </div>
    </div>
    <!-- <button [routerLink]="['/invoice']" type="button" class="btn btn-outline-info btn-info-link btn-lg">View received invoices</button> -->
  </div>

</div>
