<div *ngIf="!isNewRequest">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        Invoices
      </h1>
    </div>
  </div>
  <!-- /. ROW  -->

  <div class="row">
    <div class="col-md-12">
      <!-- Advanced Tables -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Detail list
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Invoice No:</th>
                  <th>Invoice Status</th>
                  <th>Subject</th>
                  <th>Description</th>
                  <th>Sub total</th>
                  <th>Service Fee</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoiceDetails" class="odd gradeX">
                  <td>{{item.Id}}</td>
                  <td>{{item.InvoiceStatus}}</td>
                  <td>{{item.InvoiceSubject}}</td>
                  <td>{{item.Description}}</td>
                  <td>{{item.SubTotal}}</td>
                  <th>{{item.ServiceFee}}</th>
                  <th>{{item.Total}}</th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!--End Advanced Tables -->
    </div>
  </div>
  <div class="form-group" style="float: right;">
    <button class="btn btn-primary" (click)="setAsCreateNew()">Create Invoice</button>
  </div>
</div>

<div *ngIf="isNewRequest">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        Create Invoice
      </h1>
    </div>
    <notifier-container></notifier-container>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="form-group">
            <div class="form-group col-md-12">
              <h4>Invoice Details</h4>
              <hr>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-6">
              <label>Subject</label>
              <input type="text" class="form-control" [(ngModel)]="invoice.invoiceSubject" #invoiceSubject="ngModel" required name="invoiceSubject" />
              <div *ngIf="invoiceSubject.errors && (invoiceSubject.dirty ||invoiceSubject.touched)" class="alert alert-danger">
                <div [hidden]="!invoiceSubject.errors.required">
                  Invoice Subject is required!
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Description</label>
              <input type="text" class="form-control" [(ngModel)]="invoice.description" #description="ngModel" required name="description" />
              <div *ngIf="description.errors && (description.dirty ||description.touched)" class="alert alert-danger">
                <div [hidden]="!description.errors.required">
                  Invoice Description is required!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-12">
              <h4>Invoice Items Details</h4>
              <hr>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-6">
              <label>Item Name</label>
              <input type="text" class="form-control" [(ngModel)]="item.itemName" #itemName="ngModel" required name="itemName" />
              <div *ngIf="itemName.errors && (itemName.dirty ||itemName.touched)" class="alert alert-danger">
                <div [hidden]="!itemName.errors.required">
                  Item Name is required!
                </div>
              </div>
            </div>
          </div> 

          <div class="form-group">
            <div class="form-group col-md-12">
              <label>Item Description</label>
              <input type="text" class="form-control" [(ngModel)]="item.itemDescription" #itemDescription="ngModel" required name="itemDescription" />
              <div *ngIf="itemDescription.errors && (itemDescription.dirty ||itemDescription.touched)" class="alert alert-danger">
                <div [hidden]="!itemDescription.errors.required">
                  Item Description is required!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-6">
              <label>Unit Price</label>
              <input type="number" class="form-control" [(ngModel)]="item.unitPrice" #unitPrice="ngModel" required name="unitPrice" min="0" oninput="validity.valid||(value='')" />
              <div *ngIf="unitPrice.errors && (unitPrice.dirty ||unitPrice.touched)" class="alert alert-danger">
                <div [hidden]="!unitPrice.errors.required">
                   Unit Price is required!
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Quantity</label>
              <input type="number" class="form-control" [(ngModel)]="item.estimatedQuentity" #unitPrice="ngModel" required name="estimatedQuentity" min="0" oninput="validity.valid||(value='')"/>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-12">
              <button class="btn btn-primary float-right" (click)="addItems(item)">Add Item</button>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-12">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example1">
                <tr>
                  <th>Item Name</th>
                  <th>Unit Price</th>
                  <th>Description</th>
                  <th>Quantity</th>
                </tr>
                <tr *ngFor="let element of itemList">
                  <td>{{element.itemName}}</td>
                  <td>{{element.unitPrice}}</td>
                  <td>{{element.itemDescription}}</td>
                  <td>{{element.estimatedQuentity}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-4">
              <label>Sub Total</label>
              <input type="number" class="form-control" [(ngModel)]="invoice.subTotal" #estimatedSubTotal="ngModel" disabled />
            </div>
            <div class="form-group col-md-4">
              <label>Service Fee</label>
              <input type="number" class="form-control" [(ngModel)]="invoice.serviceFee" (input)="onChanage($event.target.value)"
                #estimatedServiceFee="ngModel" required min="0" oninput="validity.valid||(value='')" />
            </div>
            <div class="form-group col-md-4">
              <label>Total</label>
              <input type="number" class="form-control" [(ngModel)]="invoice.total" #estimatedTotal="ngModel" disabled />
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-12">
              <button class="btn btn-primary float-right" (click)="createInvoice()">Create Invoice</button>
              <p *ngIf="errorOccured" class="text-danger">Internal error occured. PLease try again !</p>
              <button class="btn btn-primary float-right" style="margin-right: 10px;" (click)="setAsViewAll()">View All Invoices</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
