<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InvoiceHandlingEntities" connectionString="metadata=res://*/DbContext.InvoiceHandling.csdl|res://*/DbContext.InvoiceHandling.ssdl|res://*/DbContext.InvoiceHandling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HNALJEB\SQLEXPRESS;Integrated security=true;initial catalog=InvoiceHandling;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="InvoiceHandlingEntities" connectionString="metadata=res://*/DbContext.InvoiceHandling.csdl|res://*/DbContext.InvoiceHandling.ssdl|res://*/DbContext.InvoiceHandling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlr2;initial catalog=InvoiceHandling;user id=sa;password=kians;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>