<div class="container">
  <div class="row">
    <div class="register">
      <div class="col-md-3"></div>
      <div class="col-md-6 register">
        <div class="lad-box animated fadeInUp">
          <div class="box-header">
            <div class="form-group">
          <h2 style="text-align: center"><b>Register</b></h2>
        </div>
      </div>
        <br>
        <div class="form-group">
          <label>First Name</label>
          <input type="text"required [(ngModel)]="signup.firstName" #firstName="ngModel" (ngModelChange)="ngOnChanges($event)"/>
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required</div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" required [(ngModel)]="signup.lastName" #lastName="ngModel" (ngModelChange)="ngOnChanges($event)"/>
          <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required</div>
        </div>
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" required [(ngModel)]="signup.companyName" #companyName="ngModel" (ngModelChange)="ngOnChanges($event)"/>
          <div class="alert alert-danger" *ngIf="companyName.touched && !companyName.valid">Company Name is required</div>
        </div>
        <div class="form-group">
          <label>Job Category</label>
          <br>
          <select id="inputState" class="form-controlR" [(ngModel)]="selectedCategory">
            <option *ngFor='let category of categories' [ngValue]="category">{{category.Id === 3 ? 'Plumbery' :category.Name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Contact Number</label>
            <input type="text" required minlength="10" maxlength="10" [(ngModel)]="signup.contactNumber" #contactNumber="ngModel" (ngModelChange)="ngOnChanges($event)" placeholder="07XXXXXXXX"/>
            <div class="alert alert-danger" *ngIf="contactNumber.touched && !contactNumber.valid">Please enter valid contact Number</div>
         </div>
          <div class="form-group">
            <label>Address</label>
              <input type="text" required [(ngModel)]="signup.address" #address="ngModel" />
              <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Please enter valid address</div>
          </div>
          <div class="form-group">
            <label>Email Address</label>
              <input type="email" required email [(ngModel)]="signup.email" #email="ngModel" (ngModelChange)="ngOnChanges($event)" />
              <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Please enter valid email address</div>
          </div>
          <div class="form-group">
            <label>Password</label>
              <input type="password" required minlength="8" maxlength="12" [(ngModel)]="signup.password" #password="ngModel" (ngModelChange)="ngOnChanges($event)"/>
              <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Please enter 8-12 digit password</div>
         </div>
         <div class="form-group">
          <label style="margin-left: 30px">Confirm Password</label>
           <input type="password" [(ngModel)]="signup.confirmPassword" #confirmPassword="ngModel" (ngModelChange)="ngOnChanges($event)"/> 
         </div>
          <button class="btn btn-primary" [disabled]="!isEnabled" (click)="signUp()">Register</button>
          <p *ngIf="errorOccured" class="text-danger">Error occured. Please try again !</p>
          <p class="small"><a [routerLink]="['/login']">Login here</a><br></p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>